main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title-container {
  position: relative;
  height: 50%;
  width: 100%;
  background-color: #87BBA2;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(90deg, var(--myColor1), var(--myColor2));
  transition: --myColor1 0.3s, --myColor2 0.3s;
}
.title-container:hover {
  --myColor1: hsl(138, 82%, 69%);
  --myColor2: hsl(186, 100%, 50%);
  background-size: 100%;
}
@property --myColor1 {
  syntax: '<color>';
  initial-value: #87BBA2;
  inherits: false;
}

@property --myColor2 {
  syntax: '<color>';
  initial-value: #87BBA2;
  inherits: false;
}

@property --myColor3 {
  syntax: '<color>';
  initial-value: #F0F7EE;
  inherits: false;
}

@property --myColor4 {
  syntax: '<color>';
  initial-value: #F0F7EE;
  inherits: false;
}
.title {
  vertical-align: middle;
  display: inline;
  font-size: 96px;
  transition: 0.7s ease-out;
  cursor: default;
  font-weight: bold;
}
.title-container p {
  position: absolute;
  bottom: 30%;
  font-size: 24px;
  color: white;
  transition: 0.7s ease-out;
}
.title-container p:hover {
  color: black;
  transition: 0.7s ease-in;
  cursor: default;
}
.title:hover {
  font-size: 128px;
}
.nav-container {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 50%;
  background: linear-gradient(90deg, var(--myColor3), var(--myColor4));
  transition: --myColor3 0.3s, --myColor4 0.3s;
}
.nav-container:hover {
  --myColor3: #F5CCD4;
  --myColor4: #F7F2AB;
}
.nav {
  margin-bottom: auto;
  margin-top: auto;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  gap: 50px;
}
.nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  background-color: #FFF07C;
  border-radius: 25px;
  box-shadow: 5px 5px 4px rgba(0,0,0,0.5);
  color: #000;
  font-size: 36px;
  text-decoration: none;
}
.nav a:hover {
  background-color: #FFF893;
}
.nav a:active {
  transform: translate(5px 5px);
  box-shadow: -5px -5px 4px rgba(0,0,0,0.5);
  background-color: #FFF07C;
}