* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a:visited {
  color: blue;
}
body {
  font-family: 'Lato', sans-serif;
}
.header {
  position: fixed;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  background-color: #5D737E;
}
.header h1 a {
  color: #F0F7EE;
  text-decoration: none;
  transition: background-size 2s;
  background-size: 0;
}
.header h1 a:hover {
  background: linear-gradient(90deg, hsla(138, 82%, 69%, 1) 0%, hsla(186, 100%, 50%, 1) 100%);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}
.header nav {
  margin-left: 20px;
  display: flex;
  align-items: center;
}
.header nav ul {
  display: flex;
  height: 100%;
}
.header nav ul a {
  text-decoration: none;
  color: #000
}
.header nav ul a li {
  padding: 10px 15px;
  margin: 0px 5px;
  border-radius: 200px;
  transition: background-color 0.5s;
}
.header nav ul a li:hover {
  background-color: #FFF07C;
}
.footer {
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 20px;
}